<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="See up-to-date information about both RMS letters">
    <title>rms-letters</title>
    <link href="bs-dark.css" rel="stylesheet">
    <style>
        .glow {
            text-shadow: 0 0 10px magenta;
            -webkit-transition: text-shadow 1s linear;
            -moz-transition: text-shadow 1s linear;
            -ms-transition: text-shadow 1s linear;
            -o-transition: text-shadow 1s linear;
            transition: text-shadow 1s linear;
        }

        .hidden {
            display: none;
        }
    </style>
</head>

<body style="margin-top: 10px;">

    <div class="container">
        <h1>Stats about the RMS letters</h1>
        <p id="loading" class="text-muted"><small>Loading...</small></p>
        <ul class="hidden" id="letters_ul">
            <li id="support"></li>
            <li id="open"></li>
            <li id="ahead"></li>
        </ul>

        <p class="text-muted"><small>Updates every 2 minutes &middot; <a
                    href="https://github.com/SpheeresX/rms-letters">Source</a></small></p>

        <script>
            var cdata;

            function highlight(id, seconds) {
                var element = document.getElementById(id);

                element.classList.add('glow');
                var t = setTimeout(function () {
                    element.classList.remove('glow');
                }, (seconds * 1000));
            }

            async function getData(firstRun) {
                var data = await fetch('/api/stats');
                var json = await data.json();

                if (firstRun) {
                    // hide the loading screen
                    document.getElementById('letters_ul').classList.remove('hidden');
                    document.getElementById('loading').classList.add('hidden');
                    // store the signature data we received on page load
                    cdata = json;
                    var newSupport = 0;
                    var newOpen = 0;
                } else {
                    // subtract the first signature data from the current data to get the amount
                    // of signatures since the page has been loaded
                    var newSupport = json.support - cdata.support;
                    var newOpen = json.open - cdata.open;
                }

                document.getElementById('support').innerHTML = `The support letter has ${json.support} signatures (+${newSupport}, ${json.supportPending} pending on GitHub)`;
                document.getElementById('open').innerHTML = `The open letter has ${json.open} signatures by 16 initial signers, 48 organizations and ${json.open - 48 - 16} individuals (+${newOpen})`;

                if (json.open > json.support) {
                    document.getElementById('ahead').innerHTML = `The open letter has ${json.open - json.support} more signatures than the support letter`;
                } else if (json.support > json.open) {
                    document.getElementById('ahead').innerHTML = `The support letter has ${json.support - json.open} more signatures than the open letter`;
                }
            }


            getData(true);
            // update the data every 2 mins
            setInterval(() => {
                getData(false);
                highlight('support', 6);
                highlight('open', 6);
                highlight('ahead', 6);
            }, 120000);
        </script>
    </div>
</body>

</html>